<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant XXI</title>
</head>
<body>
    <h1>Lista de Pedidos</h1>

    <table>
        <thead>
            <th>Id Pedido</th>
            <th>Estado</th>
            <th>Detalle</th>
            <th>Fecha Creacion</th>
            <th>Id Cliente</th>
            <th>Id Receta</th>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id_pedido }}</td>
                    <td>{{ pedido.estado }}</td>
                    <td>{{ pedido.detalle }}</td>
                    <td>{{ pedido.fecha_creacion }}</td>
                    <td>{{ pedido.cliente_id_cliente }}</td>
                    <td>{{ pedido.receta_id_receta }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>